body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #d4ccb6;
}

.primary{
  color: #ffc632;
  font-size: 12px;
}
.formText{
  color: #afb6c2;
  font-size: 13px;
}
.ALink{
  text-decoration: none;
}
.highlight{
  outline: 2px #ffc632 solid !important;
  border: none !important;
}
.hide{
  display: none;
}
.primary:hover{
  color: #f8dfa1;
}
.BoxColorYellow{
  background-color: #ffc632 !important;
}

@media only screen and (max-width:700px){
  .FormPage{
    height: 100vh;
    width: 100vw;
    background-color: #191816;
    display: grid;
    grid-template-columns: 1fr;
    .Left{
      justify-self: center;
      align-self: center;
      .logo{
        position: absolute;
        top: 2rem;
        left: 3rem;
      }
      .FormBox{
        width: 80vw;
        min-height: 60vh;
        background-color: #24221f;  
        .Login{
          display: flex;
          width: 80%;
          margin: auto;
          #log-in{
            display: inline-block;
            margin-top: 2rem;
          }
          #Login{
            display: inline-block;
            margin-top: 2rem;
            margin-bottom: 0;
            margin-left: 10px;
          }
        }
        .form{
          width: 90%;
          margin: auto;
          .InsertInformationAttention{
            margin-top: 0;
          }
          label{
            display: block;
            margin-top: 2rem;
          }
          .InputContainer{
            position: relative;
            .IconNormalL{
              position: absolute;
              transform: translate(0,50%);
              padding-left: 7px;
            }
            .IconFocusL{
              position: absolute;
              transform: translate(0,50%);
              padding-left: 7px ;
            }
            .IconNormalR{
              position: absolute;
              left: 100%;
              transform: translate(-100%, 50%);
              padding-right: 10px;
            }
            .IconCloseR{
              position: absolute;
              width: 20px;
              height: 20px;
              left: 100%;
              transform: translate(-100%, 50%);
              padding-right: 10px;
              cursor: pointer;
            }
            .inputBox{
              height: 40px;
              width: 100%;
              background-color: white;
              border: 2px #afb6c2 solid;
              border-radius: 5px;
              padding-left: 30px;
              box-sizing: border-box;
              caret-color: transparent;
            }  
          }
          #email{
            color: black;
          }
          #password{
            color: black;
          }
          .InlineBlock{
            display: inline-block;
          }
          .checkBoxContainer{
            position: relative;
            .checkBox{
              position: absolute;
              width: 25px;
              height: 25px;
              background-color: white;
              margin-top: 2rem;
              border-radius: 5px;
            }
            .CheckImg{
              position: absolute;
              margin-top: 2.2rem;
              margin-left: 0.15rem;
              z-index: 1;
            }
            .checkboxOriginal{
              position: absolute;
              width: 25px;
              height: 25px;
              margin-top: 2rem;
              margin-left: 0;
              appearance: none;
              z-index: 2;
            }
            .RemindText{
              padding-left: 2rem;
            }
            .R{
              float: right;
              margin-top: 2rem;
            }
          }
          .button{
            display: block;
            width: 100%;
            height: 50px;
            background-color: #ffc632;
            border-radius: 5px;
            margin-top: 1.5rem;
          }
          .SignUp{
            text-align: center;
          }
        }
      }
    }
    .Right{
      display: none;
    }
  }   
}

@media only screen and (min-width:701px){
  .FormPage{
    height: 100vh;
    width: 100vw;
    background-color: #191816;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .Left{
      justify-self: center;
      align-self: center;
      .logo{
        position: absolute;
        top: 3rem;
        left: 3rem;
      }
      .FormBox{
        width: 40vw;
        min-height: 60vh;
        background-color: #24221f;  
        .Login{
          display: flex;
          width: 70%;
          margin: auto;
          #log-in{
            display: inline-block;
            margin-top: 4rem;
          }
          #Login{
            display: inline-block;
            margin-top: 4rem;
            margin-bottom: 0;
            margin-left: 10px;
          }
        }
        .form{
          width: 85%;
          margin: auto;
          .InsertInformationAttention{
            margin-top: 0;
          }
          label{
            display: block;
            margin-top: 2rem;
          }
          .InputContainer{
            position: relative;
            .IconNormalL{
              position: absolute;
              transform: translate(0,50%);
              padding-left: 7px;
            }
            .IconFocusL{
              position: absolute;
              transform: translate(0,50%);
              padding-left: 7px ;
            }
            .IconNormalR{
              position: absolute;
              left: 100%;
              transform: translate(-100%, 50%);
              padding-right: 10px;
            }
            .IconCloseR{
              position: absolute;
              width: 20px;
              height: 20px;
              left: 100%;
              transform: translate(-100%, 50%);
              padding-right: 10px;
              cursor: pointer;
            }
            .inputBox{
              height: 40px;
              width: 100%;
              background-color: white;
              border: 2px #afb6c2 solid;
              border-radius: 5px;
              padding-left: 30px;
              box-sizing: border-box;
              caret-color: transparent;
            }  
          }
          #email{
            color: black;
          }
          #password{
            color: black;
          }
          .InlineBlock{
            display: inline-block;
          }
          .checkBoxContainer{
            position: relative;
            .checkBox{
              position: absolute;
              width: 25px;
              height: 25px;
              background-color: white;
              margin-top: 2rem;
              border-radius: 5px;
            }
            .CheckImg{
              position: absolute;
              margin-top: 2.2rem;
              margin-left: 0.15rem;
              z-index: 1;
            }
            .checkboxOriginal{
              position: absolute;
              width: 25px;
              height: 25px;
              margin-top: 2rem;
              margin-left: 0;
              appearance: none;
              z-index: 2;
            }
            .RemindText{
              padding-left: 2rem;
            }
            .R{
              float: right;
              margin-top: 2rem;
            }
          }
          .button{
            display: block;
            width: 100%;
            height: 50px;
            background-color: #ffc632;
            border-radius: 5px;
            margin-top: 1.5rem;
          }
          .SignUp{
            text-align: center;
          }
        }
      }
    }
    .Right{
      justify-self: center;
      align-self: center;
      img{
        max-height: 100vh;
        max-width: 50vw;
      }
    }
  }   
}
